<%- include("templates/header") %>
    <div class="container">
        <h1>Hello, <%= username %>!</h1>
        <div class="row">
            <div class="col-sm-4">
                <img src="/<%= image1 %>" height="200px">
            </div>
            <div class="col-sm-4">
                <img src="/<%= image2 %>" height="200px">
            </div>
            <div class="col-sm-4">
                <img src="/<%= image3 %>" height="200px">
            </div>
        </div>
        <div><button onclick="window.location.href='/logout'">Logout</button></div>
    </div>
<%- include("templates/footer") %>